.App {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    align-content: center;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start; /* Align items from left to right */
    align-items: center;
    flex-direction: column; /* Set flex direction to column */
}

.content {
    font-size: 16px;
    line-height: 1.5;
}

.sidebar {
    width: 200px;
    background-color:brown;
    border-right: 1px solid #ccc;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #007bff;
}
