.App {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Set flex direction to column */
    position: relative; /* Enable positioning */
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    align-content: center;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start; /* Align items from left to right */
    align-items: center;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1; /* Set a higher z-index to ensure it's always on top */
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.content > * {
    margin-right: 10px; /* Add space between items */
}

.content > *:last-child {
    margin-right: 0; /* Remove margin from the last item */
}


.sidebar {
    width: 200px;
    background-color: brown;
    border-right: 1px solid #ccc;
    padding: 20px;
    height: 100vh;
    position: sticky; /* Make the sidebar sticky */
    top: 0; /* Stick to the top of the viewport */
}

.sidebar h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #007bff;
}
